.background{
    position: relative;
    width: 100%;
    background-color: azure;
}

.fontdesign{
    font-family: Comic Sans MS;
}

.inputsentence{
    font-size: 15px;
}

.inputsentence2{
    text-align: center;
    font-size: 15px;
}

.buttondesign2 {
    width: 30%;
    height: 30%;
 }
 

.buttondesign {
    width: 550px;
    height: 130px;
 }

.buttondesign input {
    width: 30%;
    height: 30%;
}

.shops{
    position: relative;
}

.shoptitle{
    font-size: 25px;
    color: #2EC0A6 ;
}

.shopdetail{
    display: flex;
    justify-content: space-around;
}

.logoimage {
    margin: 0px 20px 0px 0px;
    overflow: hidden;
    position: relative;
  }
.detailtext {
    margin: 0px 0px 0px 20px;
  }